@keyframes hideAnimation {
    0%{
        z-index: 99;
        transform: translateX(0%);
    }
    5%{
        opacity: 0;
    }
    100%{
        z-index: -99;
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes right-slide {
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes left-slide {
  
  0% {
    transform: translateX(100%);
    z-index: -99;
  }
  50% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    z-index: 99;
    transform: translateX(0%);
    opacity: 1;
  }
}


.hide{
    position: absolute;
    top: 0;
    bottom: 0;
    animation: hideAnimation 500ms ease-in-out forwards;
}
.right-show{
    z-index: 10;
    animation: right-slide 500ms ease-in-out forwards;
}

.left-show{
    z-index: 10;
    animation: left-slide 500ms ease-in-out forwards;
}

.carousel-button{
    border-radius: 8px;
    padding: 4px;
    border: 1px solid var(--color-divider-400);
}

.button:hover {
  background-color: hsl(0, 0%, 70%);
}

.stepper-active{
    background-color: hsl(0, 0%, 20%);
}

.stepper-inactive{
    background-color: hsl(0, 0%, 80%);
}