@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.animate-fade-in{
    animation: fadeIn 200ms ease-in-out forwards;
}

.animate-fade-out{
    animation: fadeOut 200ms ease-in-out forwards;
}

@keyframes slideUp {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from{
        opacity: 1;
        transform: translateY(0);
    }
    to{
        opacity: 0;
        transform: translateY(-20px);
    }
}

.animate-slide-up{
    animation: slideUp 200ms ease-in-out forwards;
}
.animate-slide-down{
    animation: slideDown 200ms ease-in-out forwards;
}